.listing-card {
  width: 300px;
  min-height: 425px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  margin: 10px;
  border-radius: 15px;
}

.listing-card img {
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.listing-card > div {
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 40px;
}

.listing-card > div h3 {
  margin: 5px 0;
}

.listing-card > div p {
  display: block;
  max-height: 60px;
}

.listing-card-price {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 15px 10px;
}

.listing-card-price-it {
  font-style: italic;
  color: rgb(134, 134, 134);
}
