.host-form-page {
  width: 100%;
  padding-top: 100px;
}

.host-form-wrap {
  width: 900px;
  margin: 30px auto;
}

.ant-select.ant-select-multiple {
  width: 500px;
}

.host-form form > div {
  margin: 20px 0;
  background-color: rgb(241, 241, 241);
  padding: 20px 20px 30px;
  border-radius: 7px;
}

.host-form form h4 {
  font-size: 20px;
  margin-top: 0;
}

.host-form-select {
  width: 100%;
}

.host-form form textarea {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 75px;
  padding: 10px;
  border-color: rgb(207, 207, 207);
  border-radius: 4px;
}

.host-form form > span,
.optional {
  font-style: italic;
  color: rgb(134, 134, 134);
}

.red-star {
  color: red;
}

.host-form-apply-btn {
  display: block;
  padding: 10px 0;
  margin: 35px auto;
  width: 120px;
  font-size: 18px;
  color: white;
  background-color: rgb(21, 127, 31);
  border: none;
  border-radius: 7px;
}

.host-form-apply-btn:hover {
  cursor: pointer;
}
